In [4]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from adjustText import adjust_text
import numpy as np

import nfl_data_py as nfl

In [5]:
# Turn off max columns for pandas DataFrame
pd.set_option('display.max_columns', None)

In [13]:
years = range(1999, 2023)

In [14]:
columns = ['kicker_player_name', 'kick_distance', 'play_type', 'field_goal_result']

In [15]:
df = nfl.import_pbp_data(years, cache=True, alt_path='../cache', columns=columns)

1999 done.
2000 done.
2001 done.
2002 done.
2003 done.
2004 done.
2005 done.
2006 done.
2007 done.
2008 done.
2009 done.
2010 done.
2011 done.
2012 done.
2013 done.
2014 done.
2015 done.
2016 done.
2017 done.
2018 done.
2019 done.
2020 done.
2021 done.
2022 done.
Downcasting floats.

In [20]:
df = df[(df['play_type'] == 'field_goal') & (df['field_goal_result'] == 'made') & (df['kick_distance'] >= 60)]

In [22]:
# Group by kicker and count number of 60+ yard field goals
df = df.groupby('kicker_player_name').count().reset_index()

In [23]:
df

,kicker_player_name,kick_distance,play_type,field_goal_result,play_id,old_game_id,season
0,B.Maher,4,4,4,4,4,4
1,B.McManus,1,1,1,1,1,1
2,C.Catanzaro,1,1,1,1,1,1
3,D.Akers,1,1,1,1,1,1
4,D.Carpenter,1,1,1,1,1,1
5,G.Gano,1,1,1,1,1,1
6,G.Joseph,1,1,1,1,1,1
7,G.Zuerlein,3,3,3,3,3,3
8,H.Butker,1,1,1,1,1,1
9,J.Elliott,1,1,1,1,1,1
10,J.Feely,1,1,1,1,1,1
11,J.Myers,1,1,1,1,1,1
12,J.Tucker,2,2,2,2,2,2
13,K.Fairbairn,1,1,1,1,1,1
14,M.Bryant,1,1,1,1,1,1
15,M.Prater,2,2,2,2,2,2
16,R.Bironas,1,1,1,1,1,1
17,S.Gostkowski,1,1,1,1,1,1
18,S.Janikowski,2,2,2,2,2,2
19,W.Lutz,1,1,1,1,1,1